<div class="auth-wrapper auth-v2">
    <div class="auth-inner row m-0">
      <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
        <img src="logo here" alt="brand-logo" height="28" />
        <h2 class="brand-text text-primary ml-1">Vuexy</h2></a
      >
      <!-- /Brand logo-->
      <!-- Left Text-->
      <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
        <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
          <img
            class="img-fluid"
            src="assets/images/pages/forgot-password-v2.svg"
            alt="Forgot password V2"
          />
        </div>
      </div>
      <!-- /Left Text-->
      <!-- Forgot password-->
      <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5" *ngIf="!emailSent">
        <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
          <h2 class="card-title font-weight-bold mb-1">Mot de passe oublié? 🔒</h2>
          <p class="card-text mb-2">Tapez votre adresse mail et on vous enverra un email pour réinitialiser votre mot de passe.</p>
          <form class="auth-forgot-password-form mt-2" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label class="form-label" for="forgot-password-email">Email</label>
              <input
                class="form-control"
                type="text"
                formControlName="email"
                placeholder="Adresse mail"
                aria-describedby="forgot-password-email"
                autofocus=""
                (ngModelChange)="emailNotFound = false"
                tabindex="1"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email obligatoire</div>
                <div *ngIf="f.email.errors.email">Email doit être une adresse mail valide</div>
              </div>
            </div>
            <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="emailNotFound">
              <div class="alert-body">
                <p>Utilisateur introuvable</p>
              </div>
            </ngb-alert>
            <button class="btn btn-primary btn-block" tabindex="2" rippleEffect>Envoyer lien</button>
          </form>
          <p class="text-center mt-2">
            <a routerLink="/auth/login"
              ><i data-feather="chevron-left" class="mb-25"></i> Se connecter</a
            >
          </p>
        </div>
      </div>
      <!-- /Forgot password-->

      <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5" *ngIf="emailSent">
        <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
          <h2 class="card-title font-weight-bold mb-1">Email envoyé <span class="text-success">✔</span></h2>
          <p class="card-text mb-2">
            <b>Veuillez vérifier votre boite email.</b><br>
            Un email a été envoyé avec plus d'instruction.
          </p>
        </div>
      </div>
    </div>
  </div>
  