<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h4>Modifier mot de passe</h4>
        </div>
    </div>
    <div class="card-body">
      <!-- form -->
      <form class="validate-form">
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label for="account-old-password">Ancien mot de passe</label>
              <div class="input-group form-password-toggle input-group-merge">
                <input
                  [type]="passwordTextTypeOld ? 'text' : 'password'"
                  class="form-control"
                  [ngClass]="{'is-invalid': submitted && oldPwd.length < 6 }"
                  [(ngModel)]="oldPwd"
                  (ngModelChange)="wrongPwd = null"
                  id="account-old-password"
                  name="password"
                  placeholder="Ancien mot de passe"
                />
                <div class="input-group-append">
                  <span class="input-group-text cursor-pointer"
                    ><i
                      class="feather font-small-4"
                      [ngClass]="{
                        'icon-eye-off': passwordTextTypeOld,
                        'icon-eye': !passwordTextTypeOld
                      }"
                      (click)="togglePasswordTextTypeOld()"
                    ></i
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label for="account-new-password">Nouveau mot de passe</label>
              <div class="input-group form-password-toggle input-group-merge">
                <input
                  [type]="passwordTextTypeNew ? 'text' : 'password'"
                  id="account-new-password"
                  name="new-password"
                  class="form-control"
                  [ngClass]="{'is-invalid': submitted && (newPwd.length < 6 || newPwd != confirmPwd) }"
                  [(ngModel)]="newPwd"
                  placeholder="Nouveau mot de passe"
                />
                <div class="input-group-append">
                  <span class="input-group-text cursor-pointer"
                    ><i
                      class="feather font-small-4"
                      [ngClass]="{
                        'icon-eye-off': passwordTextTypeNew,
                        'icon-eye': !passwordTextTypeNew
                      }"
                      (click)="togglePasswordTextTypeNew()"
                    ></i
                  ></span>
                </div>
              </div>
              <div *ngIf="newPwd.length < 6" class="invalid-feedback">Mot de passe trés faible</div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label for="account-retype-new-password">Confirmer nouveau mot de passe</label>
              <div class="input-group form-password-toggle input-group-merge">
                <input
                  [type]="passwordTextTypeRetype ? 'text' : 'password'"
                  class="form-control"
                  [ngClass]="{'is-invalid': submitted && (confirmPwd.length < 6 || newPwd != confirmPwd) }"
                  [(ngModel)]="confirmPwd"
                  id="account-retype-new-password"
                  name="confirm-new-password"
                  placeholder="Confirmer nouveau mot de passe"
                />
                <div class="input-group-append">
                  <span class="input-group-text cursor-pointer"
                    ><i
                      class="feather font-small-4"
                      [ngClass]="{
                        'icon-eye-off': passwordTextTypeRetype,
                        'icon-eye': !passwordTextTypeRetype
                      }"
                      (click)="togglePasswordTextTypeRetype()"
                    ></i
                  ></span>
                </div>
              </div>
            </div>
            <div *ngIf="confirmPwd.length < 6" class="invalid-feedback">Mot de passe trés faible</div>
          </div>
        </div>
      </form>

      <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="submitted && newPwd != confirmPwd">
        <div class="alert-body">
            <p>Mots de passe incompatibles!</p>
        </div>
    </ngb-alert>

    <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="submitted && wrongPwd">
      <div class="alert-body">
          <p>Ancien mot de passe incorrect!</p>
      </div>
  </ngb-alert>

  <ngb-alert [type]="'success'" [dismissible]="false" *ngIf="wrongPwd == false">
    <div class="alert-body">
        <p><i class="feather icon-check font-medium-3"></i>Mot de passe modifié.</p>
    </div>
</ngb-alert>

      <div class="row m-0 justify-content-end">
        <button (click)="changePassword()" class="btn btn-success mr-1 mt-1" rippleEffect>Sauvegarder</button>
      </div>
      <!--/ form -->
    </div>
  </div>