<div class="card">
  <div class="card-body">
    
    <form class="form" [formGroup]="editUserForm" (ngSubmit)="updateProfile()">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="form-group">
            <label for="first-name-column">Nom</label>
            <input
              type="text"
              id="first-name-column"
              [(ngModel)]="profileData.nom"
              formControlName="nom"
              class="form-control"
              placeholder="Nom"
              name="fname-column"
            />
            <div *ngIf="editUserForm.get('nom').errors && (editUserForm.get('nom').dirty || editUserForm.get('nom').touched)" class="text-danger">
              <div *ngIf="editUserForm.get('nom').errors.required">
                Le nom est requis.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="form-group">
            <label for="last-name-column">Prenom</label>
            <input
              type="text"
              id="last-name-column"
              [(ngModel)]="profileData.prenom"
              formControlName="prenom"
              class="form-control"
              placeholder="Prenom"
              name="lname-column"
            />
            <div *ngIf="editUserForm.get('prenom').errors && (editUserForm.get('prenom').dirty || editUserForm.get('prenom').touched)" class="text-danger">
              <div *ngIf="editUserForm.get('prenom').errors.required">
                Le prénom est requis.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="form-group">
            <label for="city-column">Télephone</label>
            <input
              type="text"
              id="city-column"
              [(ngModel)]="profileData.numeroTelephone"
              formControlName="numeroTelephone"
              class="form-control"
              placeholder="Télephone"
              name="numeroTelephone"
            />
            <div *ngIf="editUserForm.get('numeroTelephone').errors && (editUserForm.get('numeroTelephone').dirty || editUserForm.get('numeroTelephone').touched)" class="text-danger">
              <div *ngIf="editUserForm.get('numeroTelephone').errors.required">
                Le numéro de téléphone est requis.
              </div>
              <div *ngIf="editUserForm.get('numeroTelephone').errors.minlength">
                Le numéro de téléphone doit contenir au moins 8 chiffres.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="form-group">
            <label class="form-label">Date de naissance</label>
            <input
              type="date"
              [(ngModel)]="profileData.dateNaissance"
              formControlName="dateNaissance"
              class="form-control"
              name="actDate"
            />
            <div *ngIf="editUserForm.get('dateNaissance').errors && (editUserForm.get('dateNaissance').dirty || editUserForm.get('dateNaissance').touched)" class="text-danger">
              <div *ngIf="editUserForm.get('dateNaissance').errors.required">
                La date de naissance est requise.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-end m-0">
        <button type="submit" class="btn btn-success" [disabled]="!editUserForm.valid">Sauvegarder</button>
      </div>
    </form>
    

    <!-- <ngb-alert
      [type]="'danger'"
      [dismissible]="false"
    >
      <div class="alert-body">
        <p><b>Veuillez vérifier vos données!</b> il y a des champs invalides</p>
      </div>
    </ngb-alert> -->

    
  </div>
</div>
