<div class="container-fluid">
  <!-- Première ligne de graphiques -->
  <div class="row mt-4">
    <!-- Premier Graphique (Composition Familiale) -->
    <div class="col-md-6">
      <div class="dashboard-container bg-light p-4 rounded shadow-sm text-center">
        <h4 class="mb-4">Statistiques d'état des demandes de composition familiale :</h4>
        <div class="chart-container">
          <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
            <ngx-charts-advanced-pie-chart [results]="chartDataEtat" [view]="[500, 400]" (select)="onSelect($event)"></ngx-charts-advanced-pie-chart>
          </div>
          <ngx-charts-legend *ngIf="showLegend && legendPosition === 'below'" class="ngx-charts-legend mt-4 mb-0" [data]="chartDataEtat"></ngx-charts-legend>
        </div>
      </div>
    </div>

    <!-- Deuxième Graphique (Situation Familiale) -->
    <div class="col-md-6">
      <div class="dashboard-container bg-light p-4 rounded shadow-sm text-center">
        <h4 class="mb-4">Statistiques d'état des demandes de situation familiale :</h4>
        <div class="chart-container">
          <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
            <ngx-charts-advanced-pie-chart [results]="chartSituationEtat" [view]="[500, 400]" (select)="onSelect($event)"></ngx-charts-advanced-pie-chart>
          </div>
          <ngx-charts-legend *ngIf="showLegend && legendPosition === 'below'" class="ngx-charts-legend mt-4 mb-0" [data]="chartSituationEtat"></ngx-charts-legend>
        </div>
      </div>
    </div>
  </div>

  <!-- Deuxième ligne de graphiques -->
  <div class="row mt-4">
    <div class="col-md-10 offset-md-1">
      <div class="dashboard-container bg-light p-4 rounded shadow-sm text-center">
        <h4 class="mb-4">Statistiques d'état des demandes de déménagement :</h4>
        <div class="chart-container">
          <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
            <ngx-charts-advanced-pie-chart [results]="chartDemenagementEtat" [view]="[800, 400]" (select)="onSelect($event)"></ngx-charts-advanced-pie-chart>
          </div>
          <ngx-charts-legend *ngIf="showLegend && legendPosition === 'below'" class="ngx-charts-legend mt-4 mb-0" [data]="chartDemenagementEtat"></ngx-charts-legend>
        </div>
      </div>
    </div>
  </div>
</div>
