<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h4>Modifier adresse email</h4>
        </div>
    </div>
    <div class="card-body">
      <!-- form -->
      <form class="form" [formGroup]="changeEmailForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="account-email">Nouvel adresse mail</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  (ngModelChange)="resetResult()"
                  [ngClass]="{'is-invalid': sendEmailSubmit && f.email.errors }"
                  formControlName="email"
                  id="account-email"
                  name="email"
                  placeholder="Nouvel adresse email"
                />
              </div>
            </div>
          </div>

          <div class="col-12" *ngIf="requestId != null">
            <div class="form-group">
              <label for="code">Code de confirmation</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="{'is-invalid': f.verification_code.errors && updateSubmit }"
                  formControlName="verification_code"
                  id="code"
                  name="code"
                  placeholder="Code de confirmation"
                />
              </div>
            </div>
          </div>

        </div>
      </form>

    <ngb-alert [type]="'success'" [dismissible]="true" *ngIf="success">
        <div class="alert-body">
            <p><i class="feather icon-check font-medium-3 mr-2"></i>{{success}}</p>
        </div>
    </ngb-alert>

    <ngb-alert [type]="'danger'" [dismissible]="true" *ngIf="error">
        <div class="alert-body">
            <p>{{error}}</p>
        </div>
    </ngb-alert>

      <div class="row m-0 justify-content-end">
        <button (click)="updateEmail()" *ngIf="requestId != null" class="btn btn-success mr-1 mt-1" rippleEffect>Valider</button>
        <button (click)="onSubmit()" *ngIf="requestId == null" class="btn btn-success mr-1 mt-1" rippleEffect>Envoyer</button>
      </div>
      <!--/ form -->
    </div>
  </div>