<div class="content-wrapper container-fluid p-0">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
  
      <!-- Section des pourcentages -->
      <div class="row mt-3">
        <div class="col-md-12">
          <div class="dashboard-container bg-light p-3 rounded shadow-sm">
            <h4 class="mb-3">Pourcentages des modes de transport</h4>
            <div class="d-flex justify-content-start flex-wrap percentage-container">
              <!-- Boucle sur les modes de transport -->
              <div class="card mb-3" *ngFor="let mode of getPercentageDataKeys()">
                <div class="card-body text-center">
                  <h5 class="card-title">{{ mode }}</h5>
                  <p class="card-text percentage {{ mode === 'Taxi' ? 'small-percentage' : '' }}">
                    {{ percentageData[mode] }}%
                  </p>
                </div>
              </div>
              <!-- Fin de la boucle -->
            </div>
          </div>
        </div>
      </div>
  
      <!-- Section du graphique -->
      
      
        <div class="row mt-3">
          <div class="col-md-12">
            <div class="dashboard-container bg-light p-3 rounded shadow-sm">
              <h4 class="mb-3">Statistiques de mode de transport</h4>
              
              <!-- Une seule ligne pour les deux graphiques -->
              <div class="row">
                <div class="col-md-5">
                  <div class="chart-container">
                    <!-- Graphique à barres -->
                    <ngx-charts-bar-vertical
                      [results]="chartDataTransportMode"
                      [yAxis]="true"
                      [xAxis]="true"
                      [legend]="false"
                      (select)="onSelect($event)">
                    </ngx-charts-bar-vertical>
                  </div>
                </div>
                
                <div class="col-md-7">
                  <div class="chart-container">
                    <!-- Diagramme circulaire -->
                    <ngx-charts-pie-chart
                      [results]="chartDataTransportMode"
                      [legend]="showLegend" 
                      [explodeSlices]="false"
                      [doughnut]="false"
                      [legendPosition]="legendPosition"
                      (select)="onSelect($event)">
                    </ngx-charts-pie-chart>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        
        
        
      
    </div>
  </div>
  
  <style>
   .dashboard-container {
  margin-bottom: 20px;
  margin-top: -55px; 
}

.dashboard-container h4 {
  color: #333;
  font-size: 18px;
  margin-bottom: 15px;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  transition: box-shadow 0.3s ease;
  width: calc(25% - 10px);
  margin-right: 1px;
  margin-bottom: 1px;
}

.card:last-child {
  margin-right: 0;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}

.card-text.percentage {
  font-size: 20px;
  color: #007bff;
  margin-top: 10px;
}

.chart-container {
  height: 300px;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    margin-right: 0;
  }
}

  </style>
  