.user-table-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2px;
}


th, td {
    padding: 10px 15px 10px 15px;
}

.order-status-btn {
    padding: 9px 15px;
    font-weight: normal;
}


.user-table-col > span {
    font-size: small;
}


.spinner-border {
    height: 1.3rem;
    width: 1.3rem;
}

.avatar {
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    .avatar-content {
        font-size: 1.75rem;
    }
}