<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="dashboard-container">
      
      <div class="chart-container">
        <ngx-charts-pie-chart
          [results]="chartData"
          [view]="view"
          [legend]="showLegend"
          [legendPosition]="legendPosition"
          [explodeSlices]="explodeSlices"
          (select)="onSelect($event)">
        </ngx-charts-pie-chart>
      </div>
    </div>

  </div>
</div>
