<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <div class="row mb-3">
            <div class="col-12">
                <div class="input-group input-group-merge">
                    <input class="form-control" placeholder="Recherche" [(ngModel)]="searchTerm" />
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="feather icon-search"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                <ng-container *ngFor="let membre of applyFilter()">
                    <div class="col">
                        <div class="card">
                            <h6 class="text-center">Image du Membre</h6> <!-- Ajout du titre pour l'image du membre -->
                            <img [src]="'http://localhost:8080/fichiers/' + membre.imagePath" class="card-img-top img-fluid rounded-circle mx-auto d-block card-image" alt="Membre">
                            <div class="card-body">
                                <h5 class="card-title">{{ membre.nomMembre }} {{ membre.prenomMembre }}</h5>
                                <p class="card-text">
                                    <strong>Sexe:</strong> {{ membre.sexe }} <br>
                                    <strong>Date de Naissance:</strong> {{ membre.dateNaissance | date: 'dd/MM/yyyy' }} <br>
                                    <strong>Lien Parenté:</strong> {{ membre.lienParente }} <br>
                                    <strong>Collaborateur:</strong> {{ membre.collaborateur.nom }} {{ membre.collaborateur.prenom }}
                                </p>
                                <h6 class="text-center">Image du Collaborateur</h6> 
                                <img [src]="'http://localhost:8080/fichiers/' + membre.collaborateur.imagePath"  alt="Collaborateur" class="card-img-bottom img-fluid card-image">
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>


<style>
    .card {
        width: 18rem;
        height: 100%; /* Hauteur fixe pour toutes les cartes */
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .card-body {
        padding: 1rem;
    }

    .card-img-top,
    .card-img-bottom {
        max-width: 100%; /* Pour que les images ne dépassent pas de la carte */
        height: 200px; /* Hauteur fixe pour les images */
        object-fit: cover; /* Pour que les images s'adaptent à la hauteur fixe */
        border-radius: 50%; /* Pour les images rondes */
    }

    .card-image {
        width: 150px; 
        height: 150px;
        object-fit: cover; 
        border-radius: 50%; 
    }
</style>
