<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      
    <div class="card">
      <div class="card-header">
          <div class="card-title">
              <h4>Ajouter un nouveau membre de famille</h4>
          </div>
      </div>
      <!-- invite-user.component.html -->

<form  [formGroup]="demandeForm"   >
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="form-group">
          <label for="nomMembre">Nom du membre :</label>
          <input type="text" id="nomMembre" formControlName="nomMembre" [(ngModel)]="demandeDTO.nomMembre"class="form-control" required placeholder="Entrez le nom du membre">
        </div>
        <!-- <div class="col-md-6 col-12">
          <div class="form-group">
            <label for="nomMembre">test commentaire</label>
            <input type="text" id="commentaire" formControlName="commentaire" [(ngModel)]="demandeDTO.commentaire"class="form-control" required placeholder="commentaire">
          </div> -->
        
      </div>
      <div class="col-md-6 col-12">
        <div class="form-group">
          <label for="prenomMembre">Prenom du membre :</label>
          <input type="text" id="prenom" formControlName="prenomMembre" [(ngModel)]="demandeDTO.prenomMembre"class="form-control" required placeholder="Entrez le prenom du membre">
        </div>
       
        
      </div>
      <div class="col-md-6 col-12">
        <div class="form-group">
          <label for="sexe">Sexe :</label>
          <select id="sexe" formControlName="sexe" [(ngModel)]="demandeDTO.sexe" class="form-control" required>
            <option value="" disabled selected>Choisissez le sexe</option>
            <option value="Homme">Homme</option>
            <option value="Femme">Femme</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="form-group">
          <label for="dateNaissance">Date de naissance :</label>
          <input type="date" id="dateNaissance" formControlName="dateNaissance" name="dateNaissance" [(ngModel)]="demandeDTO.dateNaissance" class="form-control" required>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="form-group">
          <label for="lienParente">Lien de parenté :</label>
          <select id="lienParente" formControlName="lienParente" [(ngModel)]="demandeDTO.lienParente" class="form-control" required>
            <option value="" disabled selected>Choisissez le lien de parenté</option>
            <option value="Père">Père</option>
            <option value="Mère">Mère</option>
            <option value="Frère">Frère</option>
            <option value="Sœur">Sœur</option>
            <option value="Mari">Mari</option>
            <option value="Femme">Femme</option>

            <option value="Fils">Fils</option>
            <option value="Fille">Fille</option>
           
          </select>
        </div>
        
        
      </div>
     
      <div class="col-md-6 col-12">
        <div class="form-group">
          <label for="justificatifFile">Justificatif:</label>
          <input type="file" id="justificatifFile" formControlName="justificatifFile"  class="form-control" (change)="onFileChange($event)" accept=".pdf, .doc, .docx">
        </div>
      </div>
<div class="col-md-6 col-12">
  <div class="form-group">
    <label for="imageMembre">Image du membre :</label>
    <input type="file" id="imageMembre" formControlName="imageMembre" class="form-control" (change)="onImageChange($event)" accept=".jpg, .jpeg, .png">
  </div>
</div>

      <div class="col-md-6 col-12">
        <div class="form-group">
          <label for="commentaire">Commentaire :</label>
          <textarea id="commentaire" formControlName="commentaire" [(ngModel)]="demandeDTO.commentaire" class="form-control" placeholder="Ajoutez un commentaire"></textarea>
          <small class="text-muted">Optionnel</small>
        </div>
        
      </div>
    </div>
  </div>
  
  
  <div class="row d-flex m-2 justify-content-end">
    <button class="btn btn-outline-secondary" (click)="resetForm()" >Réinitialiser</button>

    <button class="btn btn-primary ml-1" type="submit" (click)="onSubmit()" [disabled]="!demandeForm.valid" >
      Créer une démande
    </button>
    


  </div>
</form>

   

              
             
    </div>
    </div>
</div>