<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row">
      <!-- Première carte -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <h4>Ajouter mon mode du transport</h4>
            </div>
          </div>
          <div class="card-body">
            <div class="container mt-4">
              <h2 class="mb-4">Créer Demande Mode du transport</h2>
              <form (ngSubmit)="onSubmit()" [formGroup]="demandeForm">
                <div class="mb-3 row">
                  <label for="modetransport" class="form-label col-4">Mode du transport</label>
                  <div class="col-8">
                    <select id="typeTransport" formControlName="typeTransport" [(ngModel)]="demandeObject.typeTransport" class="form-control" required>
                      <option value="" disabled selected>Choisissez un mode de transport</option>
                      <option value="Voiture">Voiture</option>
                      <option value="Train">Train</option>
                      <option value="Velo">Velo</option>
                      <option value="Taxi">Taxi</option>
                      <option value="Vélo">Vélo</option>
                      <option value="Marche">Marche</option>
                    </select>
                  </div>
                </div>

                <div class="mb-3 row">
                  <label for="justificatifModeTransport" class="form-label col-4">Justificatif mode du transport:</label>
                  <div class="col-8">
                    <input type="file" id="justificatifModeTransport" formControlName="justificatifModeTransport" class="form-control" name="justificatifModeTransport" (change)="onFileChange($event)" required>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="!demandeForm.valid">Créer Demande</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body p-0">
            <img src="assets/images/logo/transport.jpg" alt="transport" class="card-img-top w-100" style="height: 415px; border-radius: 30px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
