<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">Votre situation familiale actuelle :</h2>
          <hr>
          <p class="mb-3" style="font-weight: bold;">Votre situation familiale est : {{ situationFamiliale }}</p>
          <button *ngIf="situationFamiliale && situationFamiliale !== 'Non disponible pour le moment'" class="btn btn-danger" (click)="confirmerDemandeSuppression()">
            <i class="fas fa-trash-alt"></i> Demander la suppression
        </button>        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Modifier la situation familiale :</h2>
          <hr>
          <form class="mb-3" enctype="multipart/form-data" (ngSubmit)="onSubmit()" [formGroup]="demandeForm">
            <div class="mb-3 form-group">
              <label for="newSituationFamiliale" class="form-label">Nouvelle situation familiale:</label>
              <select id="newSituationFamiliale" class="form-control" formControlName="nouvelleSituation" [(ngModel)]="demandeObject.nouvelleSituation" required>
                <option value="" disabled selected>Choisissez une option</option>
                <option value="CELIBATAIRE">Célibataire</option>
                <option value="MARIE">Marié</option>
                <option value="DIVORCE">Divorcé</option>
                <option value="VEUF">Veuf</option>
                <option value="AUTRE">Autre</option>
              </select>
            </div>

            <div class="mb-3 form-group">
              <label for="justificatifSituationFamiliale" class="form-label">Justificatif de situation familiale:</label>
              <input type="file" id="justificatifSituationFamiliale" name="justificatifSituationFamiliale" class="form-control" formControlName="justificatifSituationFamiliale" (change)="onFileChange($event)" accept=".pdf, .doc, .docx" required>
            </div>

            <div class="mb-3 form-group">
              <button type="submit" class="btn btn-primary">
                <i class="fas fa-plus-circle"></i> Créer
            </button>              
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="assets/images/logo/famille.jpg" alt="situationFamiliale" class="card-img-top custom-image mb-2" style="height: 250px; width: 550px; border-radius: 30px;">
      <img src="assets/images/logo/EnfanceFamille.jpg" alt="situationFamiliale" class="card-img-top custom-image" style="height:360px; width: 550px;border-radius: 30px;">
    </div>
  </div>
</div>
